body {
  background: var(--primary-color) no-repeat;
  background-size: cover;
}

* {
  font-family: verdana;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* navigation bar */

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 200px;
  background: var(--third-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  letter-spacing: 5px;
}

img.logo {
  font-size: 32px;
  color: var(--secondary-color);
  border-radius: 50px;
  width: 40%;
  margin-left: 0px;
  cursor: pointer;
}

.menu {
  list-style: none;
}

.menu li {
  display: inline-block;
  padding: 0px 20px;
  font-size: 18px;
  color: var(--secondary-color);
  font-weight: 500;
}

.menu li a {
  transition: all 0.3s ease 0s;
  color: var(--secondary-color);
  text-decoration: none;
}

.menu li a:hover {
  color: #12499f;
}

#theme-icon {
  margin-left: 280px;
  width: 30px;
  cursor: pointer;
}
:root {
  --primary-color: #000;
  --secondary-color: #fff;
  --third-color: #161616;
  --fourth-color: #262626;
}

.light-theme {
  --primary-color: #fff;
  --secondary-color: #000;
  --third-color: #e7e7e7;
  --fourth-color: #e7e7e7;
}

.bx.bx-menu {
  color: var(--secondary-color);
}
/* Hero Section */
.info {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 15%;
  letter-spacing: 1.5px;
}

.hi {
  font-size: 25px;
  padding-bottom: 5%;
  padding-top: 17%;
}
.name {
  font-size: 40px;
  padding-bottom: 5%;
  color: #003893;
}

.intro {
  color: var(--secondary-color);
  margin-left: 200px;
  line-height: 35px;
  padding-bottom: 5%;
}

.pfp {
  width: 40%;
  object-fit: cover;
  border-radius: 50%;
  border: 6px solid #12499f;
  box-shadow: 0 0 90px #12499f;
}

.icons {
  padding-top: 4%;
}
.icons a {
  padding-top: 50px;
  margin-top: 100px;
  width: 50px;
  height: 50px;
  background: transparent;
  font-size: 25px;
  color: var(--secondary-color);
  text-decoration: none;
  margin: 40px 15px 50px 0;
  transition: 0.5s;
}

.icons a:hover {
  color: #12499f;
  transform: translateY(-5px);
}

/* about me page */

.center-align {
  text-align: center;
}

h1.heading {
  margin-bottom: 50px;
  text-align: center;
  color: var(--secondary-color);
  font-size: 40px;
}

.desc {
  margin-left: 350px;
  margin-right: 350px;
  text-align: center;
  color: var(--secondary-color);
  letter-spacing: 1.5px;
  line-height: 2;
  font-size: 20px;
}

.tabs p {
  display: inline-block;
  align-items: center;
  color: var(--secondary-color);
}

.t {
  margin: 50px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}
.t::after {
  content: "";
  width: 0;
  height: 3px;
  background: #12499f;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}

.t.active-link::after {
  width: 50%;
}

.tab-contents p {
  color: #12499f;
  font-size: 20px;
}

.tab-contents ul li {
  margin-top: 10px;
  color: var(--secondary-color);
  list-style: none;
}

.tab-contents {
  display: none;
  text-decoration: none;
}

.tab-contents.active-tab {
  display: block;
  text-decoration: none;
}

/* Portfolio Section */

.subtitle {
  color: var(--secondary-color);
  text-align: center;
  margin-top: 150px;
  font-size: 40px;
}

img.proj-img {
  width: 300px;
  float: left;
  border-radius: 50%;
  border: 2px solid #12499f;
  box-shadow: 0 0 60px #12499f;
}

.proj {
  color: var(--secondary-color);
  margin-left: 100px;
  letter-spacing: 1.5px;
  line-height: 2;
  text-align: left;
}

.project {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 100px auto;
  width: 75%;
}

/* contact information */

#contact {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 200px auto;
  width: 75%;
}

h1.sub-title {
  color: var(--secondary-color);
  font-size: 40px;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 0px;
}

.contact-left {
  flex-basis: 35%;
  color: var(--secondary-color);
  float: left;
  margin-top: 0px;
}

.contact-right {
  flex-basis: 60%;
  float: right;
  margin-left: 150px;
}

.contact-left p {
  margin-top: 30px;
}

.gmail p i {
  text-decoration: none;
  color: var(--secondary-color);
  font-size: 25px;
  margin-right: 5px;
}

.social-icons {
  margin-top: 30px;
}

.social-icons a {
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color: var(--secondary-color);
  display: inline-block;
  transition: 0.1s;
  margin-bottom: 30px;
}

.social-icons a:hover {
  color: #12499f;
  transform: translateY(-5px);
}

.btn {
  padding: 13px;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  background: #12499f;
  border-radius: 10px;
}

.btn2 {
  padding: 13px;
  font-size: 20px;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  background: #12499f;
  border-radius: 10px;
  cursor: pointer;
}

.contact-right form {
  width: 100%;
}

form input,
form textarea {
  width: 100%;
  border: 0;
  outline: none;
  background: var(--fourth-color);
  padding: 15px;
  margin: 15px 0;
  color: var(--secondary-color);
  font-size: 18px;
  border-radius: 6px;
  border: 1px solid #12499f;
  box-shadow: 10px 3px 30px #12499f;
}

.copyright {
  color: #fff;
  width: 100%;
  text-align: center;
  padding: 25px 0;
  background: #262626;
  font-weight: 300;
}

#msg {
  color: #12499f;
  margin-top: 10px;
  display: block;
}
/* Adjust the padding-top to account for the fixed header */
#portfolio,
#contact {
  padding-top: 50px;
  /* Other styles */
}

#contact {
  padding-bottom: 50px;
}

#home {
  padding-bottom: -100px;
}

#about {
  padding-top: 100px;
}

/* css for small screen adjustment */

nav .bx {
  color: #fff;
  display: none;
}

/* HOME PAGE RESPONSIVENESS */

@media screen and (max-width: 900px) {
  img.logo {
    width: 50%; /* Adjust logo size for smaller screens */
  }

  .pfp {
    width: 50%;
  }

  .info {
    padding: 10%; /* Adjust padding for smaller screens */
  }

  .hi,
  .name {
    font-size: 24px; /* Adjust font size for smaller screens */
  }

  .intro {
    margin-left: 20px;
    margin-top: 70px; /* Adjust margin for smaller screens */
  }

  .icons a {
    margin: 10px; /* Adjust margin for smaller screens */
  }

  /* Add more responsive adjustments as needed */
}

@media screen and (max-width: 750px) {
  img.logo {
    width: 50%; /* Adjust logo size for smaller screens */
  }

  .pfp {
    width: 50%;
    margin-right: 10px;
  }

  .info {
    padding: 10%; /* Adjust padding for smaller screens */
  }

  .hi,
  .name {
    font-size: 24px; /* Adjust font size for smaller screens */
  }

  .intro {
    margin-left: 30px;
    margin-top: 70px; /* Adjust margin for smaller screens */
  }

  .icons a {
    margin: 10px; /* Adjust margin for smaller screens */
  }

  /* Add more responsive adjustments as needed */
}

@media screen and (max-width: 1669px) {
  #theme-icon {
    margin-left: 200px;
  }
  nav .bx {
    display: none;
  }
}

@media screen and (max-width: 1500px) {
  nav {
    font-size: 80px;
    color: #fff;
  }

  nav .bx {
    display: block;
    font-size: 30px;
    cursor: pointer;
  }

  nav ul {
    background: #003893;
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.5s;
  }

  .menu li a {
    transition: all 0.3s ease 0s;
    color: #fff;
    text-decoration: none;
  }

  .menu li a:hover {
    color: #fff;
  }

  nav ul li {
    display: block;
    margin: 25px;
    color: #fff;
  }

  nav ul .bx {
    position: absolute;
    font-size: 30px;
    top: 40px;
    left: 40px;
    cursor: pointer;
  }

  #theme-icon {
    color: #fff;
    position: absolute;
    margin-top: 40px;
    left: 45px;
    cursor: pointer;
    margin-left: 0px;
  }
}

@media screen and (max-width: 1280px) {
  .desc {
    margin-left: 300px;
    margin-right: 300px;
  }

  .proj-title {
    font-size: 24px;
  }
  .proj-description {
    font-size: 15px;
  }
}
@media screen and (max-width: 1080px) {
  .desc {
    margin-left: 200px;
    margin-right: 200px;
  }

  @media screen and (max-width: 800px) {
    .desc {
      margin-left: 100px;
      margin-right: 100px;
      font-size: 18px;
    }
  }
  @media screen and (max-width: 600px) {
    .desc {
      margin-left: 50px;
      margin-right: 50px;
      font-size: 16px;
    }
  }
  @media screen and (max-width: 574px) {
    .desc {
      margin-left: 20px;
      margin-right: 20px;
      font-size: 14px;
    }

    .tabs p {
      font-size: 16px;
    }
  }

  @media screen and (max-width: 522px) {
    .desc {
      margin-left: 20px;
      margin-right: 20px;
      font-size: 16px;
    }

    .tabs p {
      font-size: 16px;
      margin-right: 20px;
    }
  }

  @media screen and (max-width: 431px) {
    .desc {
      margin-left: 20px;
      margin-right: 20px;
      font-size: 16px;
    }

    .tabs p {
      font-size: 16px;
      margin-right: 5px;
    }
  }

  /* PORTFOLIO PAGE RESPONSIVENESS */

  @media screen and (max-width: 767px) {
    .subtitle {
      margin-top: 100px;
    }

    .project {
      flex-direction: column;
      text-align: center;
      width: 100%;
    }

    .proj-img {
      width: 100%;
      margin-bottom: 20px;
    }

    .proj {
      margin-left: 0;
      text-align: center;
    }

    #portfolio {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }

  /* CONTACT PAGE RESPONSIVENESS */

  @media screen and (max-width: 1800px) {
    .contact-left,
    .contact-right {
      width: 100%;
      float: none;
      margin-left: 0;
      text-align: center;
    }

    .contact-right {
      margin-top: 40px;
      margin-left: 0;
    }

    .contact-left p {
      margin-top: 20px;
    }

    .gmail p {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .social-icons {
      text-align: center;
    }

    .social-icons a {
      margin-right: 10px;
      margin-bottom: 10px;
    }

    .btn,
    .btn2 {
      margin-top: 20px;
    }

    .contact-right form {
      margin-left: 0;
    }

    .sub-title {
      margin-top: 200px;
    }
  }
}
