body {
  background: #000000 url("img/background.jpeg") no-repeat;
  background-size: cover;
}

* {
  font-family: verdana;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 1px;
}

/* comment */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 200px;
  background: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 32px;
  color: white;
  text-decoration: none;
  font-weight: 700;
  margin-left: 0px;
  cursor: pointer;
}

.menu {
  list-style: none;
}

.menu li {
  display: inline-block;
  padding: 0px 20px;
  font-size: 18px;
  color: white;
  font-weight: 500;
}

.menu li a {
  transition: all 0.3s ease 0s;
  color: #fff;
}

.menu li a:hover {
  color: #12499f;
}

/* INOFRMATION */
.info {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 15%;
}

.hi {
  font-size: 25px;
  padding-bottom: 5%;
  padding-top: 17%;
}
.name {
  font-size: 40px;
  padding-bottom: 5%;
}
.intro {
  color: #fff;
  margin-left: 200px;
  line-height: 35px;
  padding-bottom: 5%;
}

img.pfp {
  width: 40%;
  object-fit: xcover;
  border-radius: 50%;
  border: 6px solid #12499f;
  box-shadow: 0 0 60px #12499f;
}

.icons {
  padding-top: 4%;
}
.icons a {
  padding-top: 50px;
  margin-top: 100px;
  width: 50px;
  height: 50px;
  background: transparent;
  font-size: 25px;
  color: #fff;
  text-decoration: none;
  margin: 40px 15px 50px 0;
}
